<!doctype html>
<html lang="en" ng-app="beerMe">
    <head>
        <meta charset="utf-8">
        <title>BeerMe</title>
        <meta name="description" content="BeerMe">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="img/favicon.png">
        <link rel="stylesheet" type="text/css" href="css/beers.css">
        <!-- BOOTSTRAP CSS -->
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <!-- /BOOTSTRAP -->
    </head>
    <body>
        <beer-nav></beer-nav>
        <beer-item></beer-item>
        <footer class="footer container-fluid">
            <br/>
            <div class="container">
                <ul class="list-unstyled list-inline pull-right">
                    <li><a>&copy BeerMe 2017</a></li>
                </ul>
                <ul class="list-unstyled list-inline">
                    <li><a href="https://github.com/ColbyDaly/BeerMe">Github</a></li>
                </ul>
            </div>
        </footer>
    </body>
    <!-- ANGULAR -->
    <script src="/modules/angular/angular.js"></script>
    <script src="/modules/angular-cookies/angular-cookies.js"></script>
    <script src="/modules/angular-jwt/dist/angular-jwt.js"></script>
    <script src="/app/app.js"></script>
    <!-- jQUERY -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP -->
    <script src="js/bootstrap.js"></script>
</html>